@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Roboto:400,400i,900');
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background-size: cover;
    font-family: 'Lora', sans-serif;
    font-size: 16px;
    /* 1 em = 16 px */
    text-align: center;
}

nav {
    background-color: #E8C66A;
    top: 45px;
}

header {
    background-color: #FFED74;
}

section,
div {
    background-color: #FFE2B8;
}

#logo {
    font-family: 'Roboto';
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-size: 2em;
    font-weight: 400;
    line-height: normal;
    color: #E3E3E3;
    margin: 150px 0 0;
}

h1 {
    font-family: 'Roboto';
    font-size: 4em;
    font-weight: 900;
    line-height: 14px;
    color: #FFFFFF;
    padding-top: 30px;
}

a {
    color: #4c7081;
    text-decoration: none;
    font-weight: normal;
}

#primary_nav {
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    border: none;
    padding: 20px;
    display: inline;
    padding-right: 30px;
}

#list {
    text-align: center;
    list-style-type: none;
    line-height: 1.5em;
    font-size: 1.5em;
    font-style: italic;
}

#hr {
    border: none;
    height: 6px;
    background-color: #4c7081;
    width: 3em;
    margin: 1em auto;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

p,
ul,
footer {
    color: #C9C9C9;
    background-color: #FF957E;
    padding: 50px 0;
}

h3 {
    display: inline-block;
    left: 50%;
    width: 30%;
    font-size: 1.3em;
    font-style: italic;
    padding: 20px 20px 150px 20px;
}